.card_container {
	width: 520px !important;
	height: 60px !important; 
}

.checkmark_container {
	float: left;
	width: 60px;
	height: 100%;
}
.checkmark_container > div {
	width: 100%;
	height: 100%;
}
.checkmark {
	background-color: lightblue;
}
.add_task {
	background-color: pink;
}

.textarea_container {
	float: left;
	width: 400px;
	height: 100%;
}
.textarea_container > input {
	width: 100%;
	height: 100%; 
}

.colour_selector_container {
	float: left;
	width:  60px;
	height: 100%;
}

.colour_selector_container  > div {
	width:  60px;
	height: 20px;
}

.blue_button {
	background-color: blue;
}
.red_button {
	background-color: red;
}
.green_button {
	background-color: green;
}